body{
    background-color: darkgray;
    font-family:'Courier New'
}
a { 
    color: inherit; 
    text-decoration: none;
} 
a:hover {

    text-decoration:none; 
    cursor:pointer;  
}       
.main{
margin: auto;
width: 500px;
height: 400px;
padding: 10px;

}
section{
    box-sizing: border-box;
    padding: 100px;
}
h1{
    text-align: center;
}
.list {
        background: darkgray;
        box-sizing: border-box;
        padding: 3px;
}
li{
    box-sizing: border-box;
    display: inline-block;
    height: 10;
    padding: 10;
    text-align: center;
    width: 50%;
    border: 3px solid rgb(127, 140, 141); 
    border-radius: 50%;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    }

    .tooltip:hover .tooltiptext {
    visibility: visible;
}
.button, .img {
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background: rgb(161, 151, 151);
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.button:hover {background: rgb(149, 165, 166);
}

.button:active {
background-color: white;
box-shadow: 0 5px #666;
transform: translateY(4px);
}